appdirs==1.4.0
apt-xapian-index==0.45
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bleach==1.5.0
certifi==2017.1.23
chardet==2.0.1
click==6.7
colorama==0.2.5
command-not-found==0.3
configparser==3.5.0
cycler==0.10.0
debtagshw==0.1
decorator==4.0.11
defer==1.0.6
dirspec==13.10
dnspython==1.11.1
entrypoints==0.2.2
enum34==1.1.6
Flask==0.12
funcsigs==1.0.2
functools32==3.2.3.post2
h5py==2.6.0
html5lib==0.999
httplib2==0.8
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.1.0
jupyter-core==4.2.1
Keras==1.2.2
lxml==3.3.3
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
mock==2.0.0
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.4.1
numpy==1.12.0
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
opencv-python==3.2.0.6
packaging==16.8
PAM==0.4.2
pandocfilters==1.4.1
pathlib2==2.2.1
pbr==1.10.0
pexpect==3.1
pickleshare==0.7.4
Pillow==2.3.0
piston-mini-client==0.7.5
prompt-toolkit==1.0.13
protobuf==3.1.0.post1
psutil==1.2.1
ptyprocess==0.5.1
pycrypto==2.6.1
pycups==1.9.66
Pygments==2.2.0
pygobject==3.12.0
pyOpenSSL==0.13
pyparsing==2.1.10
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.0
python-debian===0.1.21-nmu2ubuntu2
pytz==2016.10
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
reportlab==3.0
requests==2.2.1
scandir==1.4
scikit-learn==0.18.1
scipy==0.18.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
subprocess32==3.2.7
tefla==0.1
tensorflow-gpu==0.12.1
terminado==0.6
testpath==0.3
Theano==0.8.2
tornado==4.4.2
traitlets==4.3.1
Twisted-Core==13.2.0
Twisted-Web==13.2.0
urllib3==1.7.1
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.11.15
widgetsnbextension==1.2.6
zope.interface==4.0.5
